@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  min-width: 350px;
}
.locate-city {
  position: relative;
}
.locate-city .tooltiptext {
  opacity: 0;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  transition: opacity 0.2s;

  /* Position the tooltip */
  position: absolute;
  top: -10px;
  left: 50px;
  z-index: 1;
}

.locate-city:hover .tooltiptext {
  opacity: 100%;
}
@media (max-width: 768px) {
  .locate-city .tooltiptext {
    display: none;
  }
}

.extended-forecast {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  place-items: center;
  margin: 15px 30px;
}
.extended {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-content: space-around;
  place-items: center;
  column-gap: 5px;
}

@media (min-width: 640px) {
  .extended-forecast {
    grid-template-columns: repeat(5, 1fr);
    margin: 30px;
  }
  .extended {
    grid-template-columns: 1fr;
  }
}
